@model User
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section title{
Centro- Reset your password
}
@section scripts{
<script src="@Url.Content("~/Scripts/Custom/resetPassword.js")" type="text/javascript"></script>
}
<div class="form-container">
    <div class="form-container-inner clear">
        <div class="heading">
            <h1 class="summary">
                Reset your password</h1>
        </div>
        <div class="pane" id="signin">
            @using (Ajax.BeginForm("ResetPassword", "Home", new AjaxOptions { HttpMethod = "Post", OnBegin = "OnBegin", OnComplete = "ResetPassword.OnResetComplete" }, new { @name = "resetpassword" }))
            {
                @Html.Hidden("code", (object)ViewBag.Code, new { @id = "code" });
                <div class="wrap clear">
                    <div class="input-group">
                        @Html.LabelFor(m => m.Password)
                        <div class="input_text">
                        @Html.PasswordFor(m => m.Password, new { @class = "text" })
                        @Html.ValidationMessageFor(m => m.Password, Model.Password, new { @class = "inline-input-error-message" })
                        </div>
                    </div>
                    <div class="input-group">
                        @Html.LabelFor(m => m.ConfirmPassword)
                        <div class="input_text">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "text" })                             
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, Model.ConfirmPassword, new { @class = "inline-input-error-message" })
                        </div>
                    </div>
                        <p class="submit last">
                    <span class="button-large"><span>
                        <input type="submit" value="Submit" name="submit" class="button1" id="signin_button" />
                    </span></span>
                    </p>
                </div>
            }
        </div>
    </div>
</div>
