<footer class="footer">
    <div class="page-center">
        <div class="links">
            <div class="col">
                <h3>More Info</h3>
                <ul>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">How it works</a></li>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">News</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>Help</h3>
                <ul>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Content Policy</a></li>
                    <li><a href="#">Terms & Condition</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
        <div class="col2 mb5 new-footer">
            <h3 class="colorYellow">Suggestion Box</h3>
            <p class="fontBold colorWhite">
                This is an innovation playground &amp; the <br />
                sky is the limit. Tell us what features or <br />
                improvements you want on our site &amp; we <br /> 
                will do our best to accomodate.
            </p>
            <div class="input-box">
                <input type="text" placeholder="Type here">
            </div>
            <input type="submit" class="button1 floatRight mt10" value="Send">
        </div>
        <div class="col2 f-news mb5 new-footer colorWhite">
            <h3>News</h3>
            <p>
                <span class="bottom-box">&nbsp;</span>
                This is an Announcement about something the startup has done and will be written by me.
            </p>
            <p>
                <span class="bottom-box">&nbsp;</span>
                This is an Announcement about something the startup has done and will be written by me.
            </p>
            <p> <a href="#" class="button1 floatRight"> Read More </a> </p>
        </div>
        <div class="connect">
            <h3>Connect With Us</h3>
            <div class="icons">
                <a href="#">
                    <img src="@Url.Content("~/Content/images/ico1.png")" alt=""></a> <a href="#">
                        <img src="@Url.Content("~/Content/images/ico2.png")" alt=""></a> <a href="#">
                            <img src="@Url.Content("~/Content/images/ico3.png")" alt=""></a> <a href="#">
                                <img src="@Url.Content("~/Content/images/ico4.png")" alt=""></a> <a href="#">
                                    <img src="@Url.Content("~/Content/images/ico5.png")" alt=""></a>
            </div>
            <p class="copy">© Copyright @DateTime.Now.Year Centro. </p>
        </div>
    </div>
</footer>