@{
    SiteUserDetails CentroUsers;
    HttpCookie auth_cookie = Request.Cookies[Cookies.UserCookie];
    FormsAuthenticationTicket auth_ticket = FormsAuthentication.Decrypt(auth_cookie.Value);
    CentroUsers = new System.Web.Script.Serialization.JavaScriptSerializer().Deserialize<SiteUserDetails>(auth_ticket.UserData);
    
    int total_unread = 0;
    total_unread = SellersHandler.TotalUnreadCustomRequest(CentroUsers.LoggedInUser.Id).Object;
}
<div class="box2">
    <div class="sections bor-bot">
    <h3 class="with-background">Design Requests</h3>
    <span class="button3">Design Requests</span>
    <ul class="links pt10 custom-requests">
        <li class="active">@Ajax.ActionLink("Pending Requests", "_RequestRecieved", "Shops", null, new AjaxOptions { UpdateTargetId = "Result" }, new { @class = "lnk-4" })</li>
        <li class="active">@Ajax.ActionLink("Sent Requests", "_RequestSent", "Shops", null, new AjaxOptions { UpdateTargetId = "Result" }, new { @class = "lnk-5" })</li>
        <li>@Ajax.ActionLink("Hired (Active Contracts)", "_Hired", "Message", new { type = "BuyerID" }, new AjaxOptions { UpdateTargetId = "Result" }, new { @class = "lnk-7" })</li>
        <li>@Ajax.ActionLink("Past Hires", "_PastHired", "Message", new { type = "SellerID" }, new AjaxOptions { UpdateTargetId = "Result" }, new { @class = "lnk-8" })</li>

    </ul>
    </div>
</div>
@*
<div class="box2">
    <div class="sections bor-bot"><span class="button3">Requests (As Seller)</span>
    <ul class="links pt10 custom-requests">
        <li class="active">@Ajax.ActionLink("Request Recieved", "_RequestRecieved", "Shops",null, new AjaxOptions { UpdateTargetId = "Result" }, new { @class = "lnk-4" })</li>
        <li>@Ajax.ActionLink("Request Sent", "_RequestSent", "Shops",null, new AjaxOptions { UpdateTargetId = "Result" }, new { @class = "lnk-5" })</li>
        <li>@Ajax.ActionLink("Draft Request", "_RequestSent", "Shops", new { draft = true }, new AjaxOptions { UpdateTargetId = "Result" }, new { @class = "lnk-6" })</li>
        <li>@Ajax.ActionLink("Service Contracts (As a Buyer)", "_Contract", "Message", new { type = "BuyerID" }, new AjaxOptions { UpdateTargetId = "Result" }, new { @class = "lnk-7" })</li>
        <li>@Ajax.ActionLink("Service Contracts (As a Seller)", "_Contract", "Message", new { type = "SellerID" }, new AjaxOptions { UpdateTargetId = "Result" }, new { @class = "lnk-8" })</li>
    </ul>
    </div>
</div>*@