@model Shop
@{
    List<ShopAvailablity> slots = ViewBag.ShopAvailablity;
}
<div class="main-heading">
    @*Shop name*@</div>
<div class="box-out">
   @* <div class="box-in">
        <p>
            What happens when you change your shop name?</p>
        <p>
            <strong>All links to your shop continue to work, and no one can use your previous shop
                name.</strong> Your shop will have a new URL. Links to your previous shop URLs
            will redirect to your new shop URLs. We use 301 redirects to help maintain your
            search engine rankings after the change.
        </p>
        <p>
            <strong>We let people know you changed your shop name.</strong> For 45 days, this
            icon will appear next to your shop name on shop pages, your profile, and shop search
            results to let people know you recently changed your shop name. People who purchased
            from your shop under the previous name will always see your previous and current
            shop name on their receipts and transaction pages.
        </p>
    </div>
    <br>
    <br>*@
    @*<div class="box-in">
        <h2>
            Provide your shop name which help user to identify what's in your shop
            <br>
            At <span class="orng">Centro marketplace</span>.
        </h2>
        <dl>
            <dt class="bold">User Name</dt>
            <dd class="pad-top">
                @Html.DisplayFor(s => s.ShopName)
            </dd>
        </dl>
    </div>*@
    <div class="box-in">
    @{
        System.Collections.ObjectModel.ReadOnlyCollection<TimeZoneInfo> tz;
        tz = TimeZoneInfo.GetSystemTimeZones();        
    }
        <h2>Shop Availability : Time Zone 
        <select id="TimeZone" class="input-box">
            @foreach (var timezone in tz)
            {
                if (Model.TimeZone == timezone.DisplayName)
                {
                    <option selected="selected" value="@timezone.DisplayName">@timezone.DisplayName</option>
                }
                else
                {
                    <option value="@timezone.DisplayName">@timezone.DisplayName</option>
                }
            }
        </select>
         </h2>
        <div>
            <table class="availablity-chart">
                <tr class="availablity-chart-top"><td align="center"></td><td align="center">Monday</td><td align="center">Tuesday</td><td align="center">Wednesday</td><td align="center">Thursday</td><td align="center">Friday</td><td align="center">Saturday</td><td align="center">Sunday</td></tr>
                <tr class="availablity-chart-clkabl avl-chart-bl">
                    <td>6AM-9AM</td><td colspan="8" rowspan="7">
                        <table class="main-chart">
                        @for (short row = 0; row < 7; row++)
                        {
                            <tr>
                            @for (short col = 0; col < 7; col++)
                            {
                                if (slots.Where(m => m.RowNum == row && m.ColumnNum == col).Any())
                                {
                                    <td align="center"><div class="slot available" row="@row" col="@col" onclick="selectslot(this)">@row @col</div></td>
                                }
                                else
                                {
                                    <td align="center"><div class="slot" row="@row" col="@col" onclick="selectslot(this)">@row @col</div></td>
                                }
                            }
                            </tr>
                        }
                        </table>
                    </td>
                </tr>
                <tr class="avl-chart-bl"><td>9AM-12PM</td></tr>
                <tr class="avl-chart-bl"><td>12PM-3PM</td></tr>
                <tr class="avl-chart-bl"><td>3PM-6PM</td></tr>
                <tr class="avl-chart-bl"><td>6PM-9PM</td></tr>
                <tr class="avl-chart-bl"><td>9PM-12AM</td></tr>
                <tr class="avl-chart-bl"><td>12AM-6AM</td></tr>
            </table>
            <input type="button" value="Save" class="button1 mr95 floatRight " onclick="SaveAvailablity(this, @Model.ShopID)" />
        </div>
    </div>
</div>
 <div class="row">
    <div class="submit shop-submit-btn-row floatRight"> 
@*@if (Model.IsClosed)
{*@
    <button type="button" id="Submit1" onclick="gotoGetPaid();" class="button1-blk">
        Next</button>
   
@*}*@
 </div>
</div>
<script type="text/javascript" src="@Url.Content("~/Scripts/custom/shopchart.js")"></script>

<script type="text/javascript">
    $('.ShopName').parent().parent().find('li').removeClass('active');
    $('.ShopName').parent().addClass('active');
</script>