@model ChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_BuyerLayout.cshtml";
}
@section title{
Change Password
}
@{
    var user = (SiteUserDetails)ViewBag.CentroUsers;
    var shop = SellersHandler.ShopByUserId(user.LoggedInUser.Id).Object;
}
@section scripts{
<script src="@Url.Content("~/Scripts/Custom/resetPassword.js")" type="text/javascript"></script>
}
<div class="white-area-inner">
    @Html.Partial("_BuyerLeftSideMenu", user)
    <div class="profile-right-bar primary">
          <div class="primary profile-edit">
            <div class="top-head row">
             
                <h2>
                    Change Password
            </div>
         @using (Ajax.BeginForm("ChangePassword", "User", FormMethod.Post, new AjaxOptions { OnBegin = "OnBegin", OnComplete = "ResetPassword.OnResetComplete" }, new { @name = "resetpassword" }))
         {
                 <div class="edit-from-profile">
                   <div class="section-inner">

                    <div id="password" class="input-group">
                            <label for="full-name" class="label">
                                @Html.LabelFor(m => m.CurrentPassword)</label>
                            <p id="full-name" class="full-name">
                             @Html.PasswordFor(m => m.CurrentPassword, new { @class = "input-box", @style = "width:450px;" })
                             @Html.ValidationMessageFor(m => m.CurrentPassword)
                            </p>
                        </div> 

                    <div id="newpassword" class="input-group">
                            <label for="full-name" class="label">
                                @Html.LabelFor(m => m.NewPassword)</label>
                            <p id="full-name2" class="full-name">
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "input-box", @style = "width:450px !important;" })
                               
                                @Html.ValidationMessageFor(m => m.NewPassword) 
                            </p>
                        </div>
                        
                    <div id="confirmpassword" class="input-group">
                            <label for="full-name" class="label">
                                @Html.LabelFor(m => m.ConfirmPassword)</label>
                            <p id="full-name1" class="full-name">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-box", @style = "width:450px !important;" })
                              
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            </p>
                        </div>

                   </div>
                   <div class="submit row">
                    <input type="submit" class="button1 floatRight mr55" value="Update Password" />
                    
                </div>
                 </div>
                
         }
        </div>
    </div>
</div>
